In [1]:
import numpy_financial as np

import pandas as pd

In [4]:
df = pd.read_csv(r"C:\Users\marti\OneDrive\Documents\GitHub\python-homework\PyBank\Resources\02-Python_Unit 2 Homework_PyBank_Resources_budget_data.csv")

df.head()

       Date  Profit/Losses
0  Jan-2010         867884
1  Feb-2010         984655
2  Mar-2010         322013
3  Apr-2010         -69417
4  May-2010         310503

In [5]:
df = pd.read_csv(r"C:\Users\marti\OneDrive\Documents\GitHub\python-homework\PyBank\Resources\02-Python_Unit 2 Homework_PyBank_Resources_budget_data.csv")

In [6]:
print (df)

        Date  Profit/Losses
0   Jan-2010         867884
1   Feb-2010         984655
2   Mar-2010         322013
3   Apr-2010         -69417
4   May-2010         310503
..       ...            ...
81  Oct-2016         102685
82  Nov-2016         795914
83  Dec-2016          60988
84  Jan-2017         138230
85  Feb-2017         671099

[86 rows x 2 columns]

In [7]:
df.head()

       Date  Profit/Losses
0  Jan-2010         867884
1  Feb-2010         984655
2  Mar-2010         322013
3  Apr-2010         -69417
4  May-2010         310503

In [8]:
df.dtypes

Date             object
Profit/Losses     int64
dtype: object

In [9]:
df.count()

Date             86
Profit/Losses    86
dtype: int64

In [10]:
total = df['Profit/Losses'].sum()

total

38382578

In [11]:
total_months = df['Date'].count()

total_months

86

In [12]:
df['Previous_Month'] = df['Profit/Losses'].shift(1)

df

        Date  Profit/Losses  Previous_Month
0   Jan-2010         867884             NaN
1   Feb-2010         984655        867884.0
2   Mar-2010         322013        984655.0
3   Apr-2010         -69417        322013.0
4   May-2010         310503        -69417.0
..       ...            ...             ...
81  Oct-2016         102685        768450.0
82  Nov-2016         795914        102685.0
83  Dec-2016          60988        795914.0
84  Jan-2017         138230         60988.0
85  Feb-2017         671099        138230.0

[86 rows x 3 columns]

In [13]:
df['Difference'] = df['Profit/Losses'] - df['Previous_Month']

df

        Date  Profit/Losses  Previous_Month  Difference
0   Jan-2010         867884             NaN         NaN
1   Feb-2010         984655        867884.0    116771.0
2   Mar-2010         322013        984655.0   -662642.0
3   Apr-2010         -69417        322013.0   -391430.0
4   May-2010         310503        -69417.0    379920.0
..       ...            ...             ...         ...
81  Oct-2016         102685        768450.0   -665765.0
82  Nov-2016         795914        102685.0    693229.0
83  Dec-2016          60988        795914.0   -734926.0
84  Jan-2017         138230         60988.0     77242.0
85  Feb-2017         671099        138230.0    532869.0

[86 rows x 4 columns]

In [14]:
average_difference = df['Difference'].mean()

average_difference

-2315.1176470588234

In [21]:
greatest_increase = df['Difference'].max()

greatest_increase

1926159.0

In [26]:
df.loc[df['Difference']==greatest_increase]

        Date  Profit/Losses  Previous_Month  Difference
25  Feb-2012        1170593       -755566.0   1926159.0

In [15]:
date_1 = df.loc[25, "Date"]

date_1

'Feb-2012'

In [16]:
greatest_decrease = df['Difference'].min()

greatest_decrease

-2196167.0

In [23]:
date_2 = df.loc[44, "Date"]

date_2

'Sep-2013'

In [18]:
df.loc[df['Difference']==greatest_decrease]

        Date  Profit/Losses  Previous_Month  Difference
44  Sep-2013       -1196225        999942.0  -2196167.0

In [24]:
print("Financial Analysis")
print(f'Total Months: ', total_months)
print(f'Total: $', total)
print(f'Average Change: $', f'{average_difference:.2f}')
print(f'Greatest Increase in Profits:', f'{date_1}, $ ' f'{greatest_increase}')
print(f'Greatest Decrease in Profits:', f'{date_2}, $ ' f'{greatest_decrease}')

Financial Analysis
Total Months:  86
Total: $ 38382578
Average Change: $ -2315.12
Greatest Increase in Profits: Feb-2012, $ 1926159.0
Greatest Decrease in Profits: Sep-2013, $ -2196167.0